.newPost {
  position: relative;
  display: grid;
  grid-template-columns: 50px 1fr 1fr;
  grid-column: 1/2;
  padding: 18px;
  background-color: #ffffff;
  border-radius: 20px;
  row-gap: 20px;
}

.newPost__top {
  grid-column: 1/-1;
  display: flex;
} 

.newPost__top img,
.newPost__comments-block img {
  border-radius: 50%;
  height: 50px;
}

.newPost__data-user {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.newPost__data-user span {
  padding-left: 20px;
  text-align: left;
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
  color: #4e5d78;
}

.newPost__data-user span:last-child {
  margin-top: 3px;
  color: #bdc2cc;
}

.newPost__settings {
  position: absolute;
  top: 27px;
  right: 30px;
  margin-left: auto;
  width: 20px;
  height: 20px;
  padding: 0;
}

.newPost img {
  border-radius: 20px;
}

.newPost__picture {
  width: 100%;
  height: 347px;
  object-fit: cover;
  grid-column: 1/-1;
}

.newPost__user-block {
  display: flex;
  width: min-content;
  grid-column: 1/3;
}

.newPost__button {
  height: 35px;
  padding: 5px 30px;
  margin-right: 10px;
  background-color: #dcdfe4;
  border-radius: 32px;
}

.newPost__button:last-child {
  margin-right: 0;
}

.newPost__comments-block {
  grid-column: 1/-1;
  display: flex;
}

.newPost__comments-block img {
  margin-right: 10px;
}

.newPost__form,
.newPost__form label {
  display: flex;
}

.newPost__textarea {
  width: 508px;
  padding: 15px 15px 7px;
  border-radius: 20px;
  line-height: 11px;
  font-size: 14px;
  color: #63628e;
  background-color: #f6f7f8;
  resize: none;
  border: none;
}

.newPost__submit {
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ebf2ff;
  border-radius: 10px;
}
