.myFriends {
  display: flex;
  padding: 0 23px;
}

.input {
  width: 205px;
  padding: 12px 15px 12px 42px;
  border: 1px solid #717D93;
  border-radius: 10px;
  background-image: url("../../icon/icon-search.svg");
  background-repeat: no-repeat;
  background-position: 14px;
  background-size: 17px;
}

.input::placeholder{
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #8FADC8;
}


