.navigation {
  display: flex;
}

.list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

.list li {
  margin-bottom: 10px;
  text-align: start;
}

.link {
  display: flex;
  align-items: center;
  width: 160px;
  padding: 13px 20px;
  color: #2A5885;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  text-decoration: none;
}

.list .active {
  background-color: #4E5D78;
  border-radius: 15px;
  color: white;
}

.link svg {
  margin-right: 7px;
  width: 20px;
}