.header {
  display: grid;
  grid-template-columns: 240px 850px 310px;
  grid-column: 1/-1;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 20px;
}

.header__logo {
  display: flex;
  align-items: center;
  width: 300px;
  padding-left: 8px;
}

.header__logo p {
  color: #4E5D78;
  font-weight: 500;
  line-height: 27px;
}

.header__form {
  display: flex;
}

.header__input {
  width: 540px;
  padding-left: 42px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #8FADC8;
  border: 1px solid #717D93;
  border-radius: 10px;
  background-image: url("../../icon/icon-search.svg");
  background-repeat: no-repeat;
  background-position: 14px;
  background-size: 17px;
}

.header__input::placeholder {
  color: #8FADC8;
}

.header__profileImg {
  display: flex;
  align-items: center;
  justify-content: end;
}

.header__profileName {
  margin-right: 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
  color: #4E5D78;
}

.header__profileImg img {
  width: 42px;
  height: 42px;
  border-radius: 20px;
}