.Container {
  max-width: 1440px;
  padding: 0 60px;
  margin: 0 auto;
}

.App {
  display: grid;
  grid-template-columns: 300px 1fr 300px;
  text-align: center;
  background-color: #FFFFFF;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.News {
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #F9FAFB;
  border-radius: 20px;
}

.NewsField {
  display: flex;
  padding: 18px 18px 32px;
  background-color: #FFFFFF;
  border-radius: 20px;
}

.NewsField img {
  margin-right: 13px;
  width: 42px;
  height: 42px;
  border-radius: 20px;
}

.NewsField__input {
  padding: 13px 10px;
  border: none;
  width: 410px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  border-radius: 10px;
  background-color: #F6F7F8;
}

.NewsField__input::placeholder {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #8FADC8;
}

.NewsField__submit {
  width: 92px;
  padding: 10px 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #FFFFFF;
  border: none;
  border-radius: 10px;
  background-color: #377DFF;
}

.NewsField__form {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
