.container {
  max-width: 1400px;
  padding: 0 20px;
  margin: 0 auto;
}

.app {
  display: grid;
  grid-template-columns: 240px 240px 920px;
  text-align: center;
  background-color: #FFFFFF;
}

.app__container {
  grid-column: 2/4;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

button {
  padding: 0;
  background-color: inherit;
  border: none;
  cursor: pointer;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  line-height: 30px;
  color: #4e5d78;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}